body {
  background-color: lightblue;
  text-align: center;
}

h1 {
  text-align: center;
  color: rgb(237, 142, 242);
}

h2 {
  color: rgb(210, 238, 151);
}

main {
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  background-color: white;
}

nav {
  background-color: rgb(237, 173, 100);
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: lightblue;
  text-decoration: none;
}

form {
  display: inline;
}

.inactive {
  color: gray;
}

.border {
  border: 1px solid gray;
}

img {
  height: 20em;
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  list-style-type: none;
}


  
  